
<div class="card-body">
    <button class="btn btn-primary" style="float:right;margin-bottom:10px;margin-top:20px;background-color: #4154f1;" routerLink="../form">
        <span class="bi bi-plus"></span> Novo
    </button>

    <h5 class="card-title">Usuários</h5>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Senha</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let usuarios of dados">
            <td>{{ usuarios.id}}</td>
            <td>{{ usuarios.nome}}</td>
            <td>{{ usuarios.email}}</td>
            <td>{{ usuarios.senha}}</td>
            <td>
                <span class="bi bi-pencil" (click)="editar(usuarios.id)"></span></td>
            <td>
                <span class="bi bi-trash" (click)="excluir(usuarios.id)"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>