<div class="card-body">
    <button class="btn btn-primary" style="float:right;margin-bottom:10px;background-color: #4154f1;" routerLink="../form">
      <span class="bi bi-plus"></span> Novo
    </button>

    <h5 class="card-title">Categoria</h5>

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Categoria</th>
          <th>Editar</th>
          <th>Excluir</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Jóias</td>
          <td> 
            <i class="bi bi-pencil"></i>
          </td>
          <td>
            <i class="bi bi-trash"></i>
          </td>
        </tr>
      </tbody>
    </table>
</div>